
<h1 class="pulse">All Tickets</h1>
<table>
    <% @tickets.each do |ticket| %>
    <th><%= link_to 'Customer_Tickets', ticket_path(ticket.id) %></th>


  <tr>
    <td>Customer Name:</td>
    <td><%= ticket.customer_name %></td>
    <td>Price: </td>
    <td><%= ticket.price %></td>
    <td>Date: </td>
    <td> <%= ticket.expiry_date %></td>
    <td>Duration: </td>
    <td><%= ticket.duration %></td>
  </tr>
<% end %>
</table>
