<h1>All Tickets</h1>


<ul>
  <% @tickets.each do |ticket| %>
  <li><%= link_to 'tickets', ticket_path(ticket.id) %></li>
</ul>

  <ul>
    <li>Customer Name: <%= ticket.customer_name %></li>
    <li>Price: <%= ticket.price %></li>

    <li>Date: <%= ticket.expiry_date %></li>
    <li>Duration: <%= ticket.duration %></li>
  </ul>
<% end %>
