<div class="tickets">
  <h1>New Tickets</h1>
  <div class="tickets">
  <%= form_for @ticket do |f|%>
  <div>
    <%= f.label :customer_name %>
    </div>
    <div>
    <%= f.text_field :customer_name %>
    </div>
    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :expiry_date %>
    <%= f.date_field :expiry_date %>

    <%= f.label :duration %>
    <%= f.date_field :duration %>

</div>




  <%= f.submit %>
<% end %>
</div>
