<h1>New Tickets</h1>
<div class="tickets">
<%= form_for @ticket do |f|%>
  <%= f.label :customer_name %>
  <%= f.text_field :customer_name %>
  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :expiry_date %>
  <%= f.date_field :expiry_date %>

  <%= f.label :duration %>
  <%= f.date_field :duration %>





  <%= f.submit %>
<% end %>
</div>
