<h1>All Resorts</h1>


<ul>
  <%= @tickets.each do |ticket| %>
  <li><%= link_to 'tickets', ticket_path(ticket.id) %></li>
</ul>

  <ul>
    <li>Customer Name: <%= tickets.customer_name, tickets %></li>
    <li>Price: <%= ticket.price %></li>

    <li>Date: <%= ticket.expiry_date %></li>
    <li>Duration: <%= ticket.duration %></li>
  </ul>
<% end %>


<div class="controls">
  <%= link_to "Edit Tickets", edit_ticket_path(@ticket) %>
  <%= link_to "Delete artist", @artist, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
