<h1>All Resorts</h1>


<ul>
  <%= @resorts.each do |resort| %>
  <li><%= link_to 'resorts', resort_path(resort.id) %></li>
</ul>

  <ul>
    <li>Resort Name: <%= resort.name%></li>
    <li>Lifts: <%= resort.lifts %></li>

    <li>Height: <%= resort.height %></li>
    <li>Location: <%= resort.location %></li>
    <li>Image: <%=image_tag resort.image %></li>
  </ul>
<% end %>
