<h1 class="fontalicious">All Resorts</h1>
<table>
  <% @resorts.each do |resort| %>
  <th><%= link_to 'resorts', resort_path(resort.id) %></th>

  <tr>
    <td>Resort Name: </td>
    <td><%= resort.name%></td>
    <td>Lifts: </td
    <td> <%= resort.lifts %></td>

    <td>Height: </td>
    <td><%= resort.height %></td>
    <td>Location:</td>
    <td><%= resort.location %></td>
    </tr>
<% end %>
</table>
