<h1 class="fontalicious"><%= @resort.name %></h1>

<ul>
  <li>Resort Name: <%= @resort.name %></li>
  <li>Price: <%= @resort.height %></li>

  <li>Date: <%= @resort.lifts %></li>
  <li>Duration: <%= @resort.location %></li>
</ul>

<div class="controls">
  <%= link_to 'Back', resorts_path %>
</div>
