<!DOCTYPE html>
<html>
  <head>
    <title>Ticketing System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>



    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    </nav> -->

    <div class="container">
    <%= link_to 'Home', root_path %>
    <% if @current_customer.present? %>

      <%= link_to "Tickets", ticket_path %>
      <%= link_to "Sign out #{ @current_customer.email }", login_path, :method => 'delete' %>
    <% else %>
      <%= link_to 'About Us', about_path %>
      <%= link_to 'Sign Up', new_customer_path %> <!-- new_customer_path = get '/...'-->
      <%= link_to 'Login', login_path %> <!--login_path = get '/login'-->
    <% end %>
    <%= yield %>
    </div>

  </body>
</html>
